body {
    background-color: #57c4df;
}

div {
    font-size: x-large;
    padding-left: 100px;
    padding-inline-start: center;
    padding-top: 25%;
    text-align: center;
}

span {
    animation-name: inherit;
    font-family: monospace;
    font-size: 100px;
}

img {
    width: 100px;

    padding-left: 10px;
    
}